# Ignore node_modules directory for both frontend and backend
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore environment-specific files (e.g., .env files with sensitive data)
.env

# Ignore any other files or directories specific to your project or development environment
.eslintrc.json
.eslintrc.cjs